.container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    width: 100px;
}

#screen-display {
    border: solid black;
    width: 80px;
    text-align: right;
   padding: 5px;
   margin-bottom: 10px;
}
